/* 
* { 
  border: 1px solid black; 
}
*/

body {
    margin: 32px;
}

.top {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.top textarea {
    box-sizing: border-box;
    height: 50vh;
    resize: vertical;
}

.top button {
    top: 10px;
    left: 10px;
    padding: 5px;
}
